.o_form_view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}